black
click
f90nml
floweaver==2.0.0
geopandas
ipykernel
jupyter_client
jupyter_core
matplotlib
meson-python
openpyxl
pandas
pip
psutil
pytest
rtree
salem==0.3.8
scikit-image
scikit-learn
scipy
f90wrap==0.2.14
atmosp
